/* Tommy Cano CSS Style Sheet */

h1{
    text-align: center;
    font-family:Georgia, Times, serif;
}

#alignment{
    text-align: center;
}

#paragraph_styler{
    text-align: left;
    line-height: 1.9;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.link:hover{
    background-color: #ddd;
}